
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
h1{
    font-family: 'Pattaya', sans-serif;
    margin-bottom: -15px;
}
h2 {
    font-family: 'Pattaya', sans-serif;
    white-space: nowrap;
}
.roast{
    color: gray;
    font-family: 'Pattaya', sans-serif;
}
#coffee{
    max-height: 100px;
}
#header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#coffees-main{
    flex-wrap: wrap;
}